.share_div {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share_form {
  align-self: center;
  width: 100%;
  max-width: 550px;
  text-align: start;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.number_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 5px;
}

.actions {
  display: inline-flex;
  justify-content: center;
  gap: 5px;
}

.date_range {
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.contact_list {
  padding-top: 20px;
  position: relative;
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
}

.card_header {
  display: inline-flex;
  justify-content: space-between;
}

.card_footer {
  display: flex;
  justify-content: flex-end;
}

.card_container {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
